In [ ]:
import pandas as pd
data = pd.read_csv("dd.csv")

In [ ]:
print(data)

     one  two    dir
0      4    5  right
1      5    3   left
2      2    5  right
3      0    3  right
4      1    5  right
..   ...  ...    ...
107    2    7   left
108    0    7  right
109    3    1  right
110    0    1  right
111    7    3   left

[112 rows x 3 columns]

In [ ]:
data = data.dropna()
print(data)

     one  two    dir
0      4    5  right
1      5    3   left
2      2    5  right
3      0    3  right
4      1    5  right
..   ...  ...    ...
107    2    7   left
108    0    7  right
109    3    1  right
110    0    1  right
111    7    3   left

[112 rows x 3 columns]

In [ ]:
values = ['0','1','2','3','4','5','6','7']
for a in values:
    count=0
    pcount=0
    for i in range(len(data)):
        # print(a==data.iloc[i]['one'])
        if int(a) == int(data.iloc[i]['one']) or int(a)==int(data.iloc[i]['two']):
            count+=1
        if data.iloc[i]['dir']=='left' and int(data.iloc[i]['one'])==int(a):
            pcount+=1
        elif data.iloc[i]['dir']=='right' and int(data.iloc[i]['two'])==int(a):
            pcount+=1
        # break
    print(pcount,count)

4 28
24 28
24 28
9 28
18 28
16 28
5 28
12 28